---
import Base from '$lib/layouts/Base.astro';
import Header from '$lib/Header.astro';
import HeatmapImage from './_HeatmapImage.astro';

import Tags from './_Tags.astro';
import Chip from './_Chip.astro';

import icon0K from './icon-0k.svg';
import icon1984 from './icon-1984.svg';
import iconAOC from './icon-aoc.png';
import iconClaude from './icon-claude.png';
import iconCobblestone from './icon-cobblestone.svg';
import iconCod from './icon-cod.png';
import iconCosine from './icon-cosine.svg';
import iconM3Svelte from './icon-m3-svelte.svg';
import iconMonoidentity from './icon-monoidentity.svg';
import iconPln from './icon-pln.svg';
import iconPracticeYeet from './icon-practiceyeet.avif';
import iconSchoolHubNew from './icon-schoolhub-new.svg';
import iconSchoolHubOld from './icon-schoolhub-old.svg';
import iconSecant from './icon-secant.svg';
import iconSussable from './icon-sussable.svg';
import iconTangentComputer from './icon-tangent-computer.svg';
import iconTangentOld from './icon-tangent-old.svg';
import iconThumbsUp from './icon-thumbs-up.svg';
import iconTrigonometry from './icon-trigonometry.png';
import iconWTTI from './icon-wtti.svg';

import year2025 from './2025.png';
import year2024 from './2024.png';
import year2023 from './2023.png';
import year2022 from './2022.png';
import year2021 from './2021.png';
import year2020 from './2020.png';
---

<Base title="Find a project">
  <Header />
  <article class="prose">
    <h2>Usually I list active projects up top</h2>
    <p>
      But I'm not <em>maintaining</em> anything this summer. I'm taking a break from school and the projects
      that come with it to tune my Home Assistant setup, improve OpenStreetMap, track the token market,
      and explore my local area. Don't worry, I'll return to maintaining hits like <Chip
        href="https://kendell.dev/m3-svelte/"
        src={iconM3Svelte}
        bg="#302649"
        fg="#b2a4cf">M3 Svelte <time>2022</time></Chip
      > eventually.
    </p>
  </article>

  <article class="prose">
    <h2>School-related projects</h2>
    <p>
      My relation with school has changed a lot over time, from remote school <Chip
        href="https://github.com/KTibow/thumbs-up"
        src={iconThumbsUp}
        bg="#392a00"
        fg="#c1a96e">Thumbs Up <time>2021</time></Chip
      >
      <Chip href="https://github.com/KTibow/simple-zoom-joiner"
        >simple-zoom-joiner <time>2021</time></Chip
      > to small experiments <Chip src={iconSchoolHubOld} bg="#282426" fg="#ffffff"
        >School API integrations <time>2022</time></Chip
      >
      <Chip>AI rap battles <time>2023</time></Chip>
      <Chip info="Ranking photos of people using CLIP" bg="#3b4252" fg="#88c0d0"
        >Stereotype <time>2024</time></Chip
      >
      <Chip src={iconPln} info="Clean course browser" bg="#004321" fg="#3ad67e"
        >Pln <time>2024</time>-<time>2026</time></Chip
      >
      <Chip href="https://github.com/KTibow/message">Google Message demos <time>2024</time></Chip>
      <Chip href="https://github.com/abndnce/1984" src={icon1984} bg="#2e3440" fg="#88c0d0"
        >1984 <time>2024</time></Chip
      >
      <Chip
        href="https://github.com/KTibow/practiceyeet"
        src={iconPracticeYeet}
        bg="#414741"
        fg="#bdfbc8">PracticeYeet <time>2024</time></Chip
      >
      <Chip href="https://github.com/KTibow/aoc2024" src={iconAOC} bg="#0f0f23" fg="#00cc00"
        >Advent of Code <time>2024</time></Chip
      >
      to correct ambition
      <Chip
        src={iconSchoolHubNew}
        info="A school platform with class dashboards, people search, AI, etc"
        bg="#261d1f"
        fg="#ff3388">SchoolHub <time>2023</time>-<time>2024</time></Chip
      >
      <Chip
        src={iconSussable}
        info="A chat/games platform packed within web notifications"
        bg="#292524">Sussable <time>2023</time>-<time>2024</time></Chip
      >
      <Chip
        src={iconTangentOld}
        info="A school platform with class dashboards, AI, a proxy, etc"
        bg="#3a4379"
        fg="#dee0ff">Tangent <time>2024</time>-<time>2025</time></Chip
      > and incorrect ambition
      <Chip
        href="https://github.com/trigonometry-app/tangent-computer"
        src={iconTangentComputer}
        bg="#5a0040"
        fg="#ff7fca">Tangent-as-a-computer <time>2025</time></Chip
      >
      <Chip
        href="https://github.com/trigonometry-app/trigonometry"
        src={iconTrigonometry}
        bg="#3a0082"
        fg="#bb99ff">rebrand to Trigonometry <time>2026</time></Chip
      > to fragmentation <Chip
        href="https://github.com/trigonometry-archive/monoidentity"
        src={iconMonoidentity}
        bg="#5a0040"
        fg="#ff7fca">Monoidentity <time>2025</time></Chip
      >
      <Chip href="https://github.com/KTibow/monoserve" bg="#121212" fg="#56a2e8"
        >Monoserve <time>2025</time></Chip
      >
      <Chip
        href="https://github.com/trigonometry-archive/cobblestone"
        src={iconCobblestone}
        bg="#5a0040"
        fg="#ff7fca">Cobblestone <time>2025</time></Chip
      >
      <Chip href="https://github.com/KTibow/cosine" src={iconCosine} bg="#5a0040" fg="#ff7fca"
        >Cosine <time>2025</time></Chip
      >
      <Chip href="https://github.com/KTibow/secant" src={iconSecant} bg="#5a0040" fg="#ff7fca"
        >Secant <time>2025</time></Chip
      > to eventually encouraging BYOD, building tools for my BYOD setup <Chip
        href="https://github.com/KTibow/BangleApps/blob/patch-4/apps/flicc/app.js"
        >Bangle.js clock <time>2022</time></Chip
      >
      <Chip href="/blog/texihi" bg="#1b2029" fg="#9598a4">Excalimath <time>2025</time></Chip>
      <Chip href="https://www.youtube.com/@claudeapchem" src={iconClaude} bg="#181818" fg="#cc785c"
        >Claude Explains AP Chemistry <time>2025</time></Chip
      >, and leaving those who can't switch to BYOD with <Chip
        href="https://pub-a50359bc057145a29fec81fc5062b2b4.r2.dev/index.html"
        src={iconWTTI}
        bg="#002c59"
        fg="#75acff">Welcome to the Internet <time>2026</time></Chip
      >
      <Chip href="https://github.com/abndnce/pulsar" bg="#00341d" fg="#00c37b"
        >Pulsar <time>2026</time></Chip
      >
      <Chip href="https://github.com/abndnce/0k" src={icon0K} bg="#00341d" fg="#00c37b"
        >0K <time>2026</time></Chip
      >
      <Chip href="https://github.com/abndnce/cod" src={iconCod} bg="#00341d" fg="#00c37b"
        >Cod <time>2026</time></Chip
      >. These have taken up a lot of my time but also given me a lot of practice and feel for how
      hard product/distribution can be.
    </p>
  </article>

  <article class="prose">
    <h2>2026</h2>
    <p>
      <Tags ai />
      <a href="https://dailybugs.kendell.dev/">Daily Bugs</a> detects bugs in <em>personal</em> projects.
      <time datetime="2026-01">January</time>
    </p>

    <h2>2025</h2>
    <HeatmapImage src={year2025} alt="2025 projects timeline" />
    <p>
      <a href="https://github.com/KTibow/tinyentities">tinyentities</a>, a minimal HTML entity
      encoder/decoder. <time datetime="2025-08">August</time>
    </p>
    <p>
      <Tags ai />
      <a href="https://github.com/KTibow/does-pi-have-the-best-price">does-pi-have-the-best-price</a
      >, a small site for comparing Prime Intellect's GPU prices to others. <time datetime="2025-08"
        >August</time
      >
    </p>
    <p>
      <strong>Contributed to</strong> Rolldown/OXC. <time datetime="2025-08">August</time>
    </p>
    <p>
      <a href="https://github.com/KTibow/kreations">kreations</a>, some funky loaders I manually
      wrote in SVG (and a component). <time datetime="2025-03">March</time>
    </p>
    <p>
      <Tags ai />
      <a href="https://github.com/KTibow/synthetitastic">synthetitastic</a>, an accelerationist set
      of synthetic data. <time datetime="2025-03">March</time>
    </p>
    <p>
      <Tags ai />
      <strong>Worked with Originality</strong> on research. <time datetime="2025-01">January</time>
    </p>

    <h2>2024</h2>
    <HeatmapImage src={year2024} alt="2024 projects timeline" />
    <p>
      <Tags ai />
      <a href="https://github.com/KTibow/lmb">LMB</a>, Language Model Board, a better way to view
      the LM Arena results.
      <time datetime="2024-12">December</time>
    </p>
    <p>
      <a href="https://github.com/KTibow/pres">Excalidraw slides</a>, a simple but useful vibe-coded
      app.
      <time datetime="2024-12">December</time>
    </p>
    <p>
      <Tags ai />
      <a href="https://github.com/KTibow/groq-bot">groq-bot</a>, a bot that uses Groq to answer
      questions about Groq.
      <time datetime="2024-10">October</time>
    </p>
    <p>
      <Tags ai />
      <a href="https://github.com/KTibow/bam">bam</a>, a site that lets you use Groq in the Firefox
      AI sidebar.
      <time datetime="2024-10">October</time>
    </p>
    <p>
      <Tags ai />
      <a href="https://github.com/KTibow/surprisingly-simple-embeddings"
        >surprisingly-simple-embeddings</a
      >, an artifact from a (closed) PR to add AI-ish search to ESPHome.
      <time datetime="2024-10">October</time>
    </p>
    <p>
      <Tags ai />
      <strong>Worked with Groq</strong> on helping community members. <time datetime="2024-05"
        >May</time
      >-<time datetime="2026-05">May 2026</time>
    </p>
    <p>
      <Tags ai />
      <a href="https://github.com/KTibow/magic">magic</a>, a (too early) Magic deck generator.
      <time datetime="2024-02">February</time>
    </p>
    <p>
      <Tags skyblock ai />
      <a href="https://github.com/KTibow/skygpt">SkyGPT</a>, a RAG-based Hypixel Skyblock chatbot
      described as "more helpful than a majority of forumers".
      <time datetime="2024-01">January</time>
    </p>
    <p><strong>Contributed to</strong> Lawnicons and SVGO a lot.</p>
    <p>
      <strong>Worked with</strong> ReVanced. I updated the frontend some, although due to politics I didn't
      update more.
    </p>

    <h2>2023</h2>
    <HeatmapImage src={year2023} alt="2023 projects timeline" />
    <p>
      <Tags skyblock />
      <a href="https://github.com/KTibow/flipsml">Flips v2</a>, a new take on an old chain (Bazaar
      Money -&gt; Skyblock Money -&gt; Flips -&gt; Flips v2).
      <time datetime="2023-12">December</time>
    </p>
    <p>
      <a href="https://github.com/KTibow/to-icon-sets">to-icon-sets</a>, a project that fills a hole
      Iconify left.
      <time datetime="2023-12">December</time>
    </p>
    <p>
      <Tags skyblock />
      <a href="https://github.com/KTibow/RatRater2">RatRater2</a>, the second version of RatRater,
      with better UI and a dedicated analysis tab.
      <time datetime="2023-12">December</time>
    </p>
    <p>
      <Tags ha />
      <a href="https://github.com/KTibow/home-assistant-theme">home-assistant-theme</a>, a site that
      generates Material 3-style themes for HA.
      <time datetime="2023-09">September</time>
    </p>
    <p>
      <a href="/billnye/">bill nye</a>
      <time datetime="2023-08">August</time>
    </p>
    <p>
      <Tags ha ai />
      <a href="https://github.com/KTibow/home-gpt">HomeGPT</a>, an experiment in tool use (in Home
      Assistant) before tool use was a thing.
      <time datetime="2023-03">March</time>
    </p>
    <p><Tags skyblock /> <strong>Worked with</strong> IsThisARat. Wrote a new frontend.</p>

    <h2>2022</h2>
    <HeatmapImage src={year2022} alt="2022 projects timeline" />
    <p>See active projects.</p>
    <p>
      <Tags skyblock />
      <a href="https://github.com/KTibow/RatRater">RatRater</a>, an app that statically analyses a
      Forge mod for malware.
      <time datetime="2022-06">June</time>
    </p>
    <p>
      <Tags ha />
      <a href="https://github.com/KTibow/arcane_control">Arcane control</a>, a HA addon that uses
      basic UI for basic control from basic devices.
      <time datetime="2022-06">June</time>
    </p>
    <p>
      <Tags skyblock />
      <strong>Worked with</strong>
      <a href="https://skyclient.co/">SkyClient</a>. Even if a little weird (I wish I found X
      earlier to counterbalance), was a nice place to dump my thoughts and my time into. I built 2
      bots, an installer (arguably 2 or 3), a website, and a number of edits. I acted with too high
      agency and too low EQ/self consciousness a few times, but overall I'm glad for it.
      <time datetime="2022-03">March</time>-<time datetime="2024-04">April 2024</time>
    </p>
    <p>
      <Tags ha />
      <a href="https://github.com/KTibow/2vFiomba">2vFiomba</a>, a server that connects a Roomba to
      Home Assistant, the successor to 2020's <a href="https://github.com/KTibow/fiomba">Fiomba</a>.
      <time datetime="2022-02">February</time>
    </p>

    <h2>2021</h2>
    <HeatmapImage src={year2021} alt="2021 projects timeline" />
    <p>
      <Tags skyblock />
      <a href="https://github.com/KTibow/SBQuery">SBQuery</a>, an experiment in bringing Skyblock
      data to GraphQL.
      <time datetime="2021-12">December</time>
    </p>
    <p>
      <Tags skyblock ai />
      <a href="https://github.com/KTibow/BetterChat">BetterChat</a>/<a
        href="https://chattriggers.com/modules/v/Unspam">Unspam</a
      >, a surprisingly effective naive Bayes-based spam filter for Skyblock. I'm still proud of
      this one. Some functionality was ported to Chatting!
      <time datetime="2021-11">November</time>
    </p>
    <p>
      <Tags ha />
      <a href="https://github.com/KTibow/lobe-home-assistant">Lobe HA</a>, an integration to add
      Lobe's AI vision to Home Assistant.
      <time datetime="2021-05">May</time>
    </p>
    <p>
      <Tags ai />
      <a href="https://github.com/KTibow/birdcam-ai">Birdcam AI</a>, which is how I made
      <a href="https://www.youtube.com/watch?v=83BGlKipdC0">this video</a>
      <time datetime="2021-05">May</time>
    </p>
    <p>
      <strong>Worked with my extended family</strong> on <a href="https://github.com/KTibow/tunt"
        >Tank Scorecard / Tunt</a
      >, a site for a team game.
      <time datetime="2021-03">March</time>
    </p>
    <p>
      <a href="https://github.com/KTibow/fridge">Leftunder</a>, an experiment in both hardware
      &lt;--&gt; Grocy and in making a serial console from JS.
      <time datetime="2021-02">February</time>
    </p>
    <p>
      <em>Why was this year so quiet by contributions?</em> I was working on a lot of Skyblock stuff (Bazaar
      Money / Skyblock Money) and I used Replit for it.
    </p>

    <h2>2020</h2>
    <HeatmapImage src={year2020} alt="2020 projects timeline" />
    <p>
      <Tags ha />
      <a href="https://github.com/KTibow/neotrellis-ha-controller">neotrellis-ha-controller</a>, a
      controller for HA on a really funny board.
      <time datetime="2020-12">December</time>
    </p>
    <p>
      <Tags ha />
      <a href="https://github.com/KTibow/ha-blueprint">ha-blueprint</a>, a GitHub Action with what I
      thought were HA best practices that I infamously pushed for in any custom integration trying
      to be added to HACS (I had nothing better to do).
      <time datetime="2020-10">October</time>
    </p>
    <p>
      <Tags ha />
      <a href="https://github.com/KTibow/ha-zoom-forwarder">ha-zoom-forwarder</a>, an unfinished
      project I'm only including here because it's so funny that I bothered with a I'm not a robot
      box and a &gt;13 years old box instead of actually working on it.
      <time datetime="2020-08">August</time>
    </p>
    <p>
      <Tags ha />
      <a href="https://github.com/KTibow/fullscreen-card">fullscreen-card</a>, a Home Assistant card
      that allows toggling fullscreen mode.
      <time datetime="2020-08">August</time>
    </p>
    <p>
      <Tags ha />
      <a href="https://github.com/KTibow/infinity-mirror">infinity-mirror</a>, a guide to an
      infinity mirror setup that I wouldn't recommend today (use ESPHome instead).
      <time datetime="2020-07">July</time>
    </p>
    <p>
      <Tags ha />
      Neumorphism bender: <strong>contributed to</strong>
      <a href="https://github.com/qiz-li/lovelace-soft-ui">lovelace-soft-ui</a>,
      <a href="https://github.com/KTibow/lovelace-light-soft-ui-theme"
        >lovelace-light-soft-ui-theme</a
      >,
      <a href="https://github.com/KTibow/lovelace-dark-soft-ui-theme">lovelace-dark-soft-ui-theme</a
      >,
      <a href="https://github.com/KTibow/lovelace-soft-theme">lovelace-soft-theme</a>.
      <time datetime="2020-05">May</time>
    </p>
    <p>
      <a href="https://github.com/KTibow/pi-DriveUp">pi-DriveUp</a>, a primitive RPi backup
      solution.
      <time datetime="2020-03">March</time>
    </p>
    <p>GoCallMe stuff, which doesn't seem to be on the internet anymore.</p>
    <p>
      <Tags ha />
      <strong>Contributed to</strong> Home Assistant.
    </p>

    <h2>2019</h2>
    <p>
      <a href="https://github.com/KTibow/requireit">requireit</a>, a program to install packages
      when imported (now we just use <code>uv</code>).
      <time datetime="2019-08">August</time>
    </p>
  </article>
</Base>

<style>
  article {
    margin: 1.5rem;
  }
  .project-header {
    @apply --m3-headline-large;
    margin: 1.5rem;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-inline: 1.5rem;
  }
  .project {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 15rem;
    max-width: 30rem;
    border-radius: 1rem;
    background-color: var(--m3c-surface-container);
    color: inherit;
    text-decoration: none;
    overflow: hidden;
  }
  time {
    opacity: 0.6;
  }
</style>
