---
import Base from "./Base.astro";

type Props = { date: string; title: string; bg?: string; noindex?: boolean };

const series = [
  [
    "/milliblog/lightbumper/",
    "/blog/slamffusion/",
    "/blog/roombamotors/",
    "/milliblog/roombadock/",
    "/milliblog/roombadockillustrated/",
  ],
  [
    "/blog/farewellcfpages/",
    "/blog/imisscfpages/",
    "/blog/lowselfconfidence/",
    "/blog/butexperience/",
  ],
  ["/blog/sleep/", "/blog/sleep-fragmentation/"],
];
const currentSeries = series.find((s) => s.includes(Astro.url.pathname));
const currentIndex = currentSeries?.indexOf(Astro.url.pathname);
const currentLength = currentSeries?.length;
const previousIndex = currentIndex && currentIndex > 0 ? currentIndex - 1 : undefined;
const nextIndex =
  currentSeries && currentIndex !== undefined && currentIndex < currentSeries.length - 1
    ? currentIndex + 1
    : undefined;

const { date, title, bg, noindex } = Astro.props;
const [y, m, d] = date.split("-").map((n) => +n);
---

<Base title={title}>
  <slot name="head" slot="head" />
  {noindex && <meta name="robots" content="noindex" slot="head" />}
  {bg && <img src={bg} alt="" />}
  <main class="prose">
    <h1>{title}</h1>
    <p class="time">
      <time datetime={date}
        >{
          new Date(y, m - 1, d).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }</time
      >
    </p>
    {
      noindex && (
        <p>
          If you're a human seeing this, that's very interesting. This page is internal and was
          marked to not be indexed by search engines.
        </p>
      )
    }
    <slot />
  </main>
  {
    currentSeries ? (
      <nav>
        {previousIndex != undefined && (
          <a class="go layer" href={currentSeries[previousIndex]}>
            <svg width="16" height="16" viewBox="0 0 24 24">
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              />
            </svg>{" "}
            Previous
          </a>
        )}
        <span>
          Part {currentIndex! + 1} of {currentLength}
        </span>
        {nextIndex != undefined && (
          <a class="go layer" href={currentSeries[nextIndex]}>
            Next{" "}
            <svg width="16" height="16" viewBox="0 0 24 24">
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              />
            </svg>
          </a>
        )}
      </nav>
    ) : (
      <a class="go layer" href="/blog/">
        <svg width="16" height="16" viewBox="0 0 24 24">
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 18 11 18 11 5.5l-4.5 4.5m4.5-4.5 4.5 4.5"
          />
        </svg>{" "}
        More posts
      </a>
    )
  }
</Base>

<style>
  :root {
    --spacing: 0.5rem;
    @media (width >= 52.5rem) {
      --spacing: 1.5rem;
    }
  }
  img {
    position: absolute;
    inset: 0;
    margin: 0;
    width: 100%;
    height: clamp(32rem, 50dvh, 50dvw);
    object-fit: cover;
    object-position: top;
    z-index: -1;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.388) 10%,
      rgba(0, 0, 0, 0.364) 20%,
      rgba(0, 0, 0, 0.296) 40%,
      rgba(0, 0, 0, 0.208) 60%,
      rgba(0, 0, 0, 0.108) 80%,
      rgba(0, 0, 0, 0.056) 90%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .time {
    opacity: 0.6;
    margin-block: 0 1rem;
  }

  main {
    width: 100%;
    max-width: min(calc(100% - 2 * var(--spacing)), 65ch);
    margin-block: var(--spacing);
    align-self: center;
  }
  main + * {
    height: 3rem;
    margin-block: auto 0;
  }
  .go {
    @apply --m3-label-large;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.75rem;
    background-color: var(--m3c-surface-container-low);
    color: var(--m3c-primary);
  }
  :global(main) + .go {
    align-self: center;
    border-start-start-radius: 1rem;
    border-start-end-radius: 1rem;
  }
  nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    gap: var(--spacing);
    > :first-child {
      border-start-end-radius: 1rem;
      justify-content: end;
    }
    > span {
      @apply --m3-body-medium;
      color: var(--m3c-on-surface-variant);
      align-self: center;
      grid-column: 2;
    }
    > :last-child {
      border-start-start-radius: 1rem;
      justify-content: start;
    }
  }
</style>
