---
import BlogPost from '$lib/layouts/BlogPost.astro';
import CaptionedImage from '$lib/CaptionedImage.astro';
import bg from './bg.avif?url';
import img0 from './0.png?url';
import img1 from './1.png?url';
import img2 from './2.png?url';
import img3 from './3.png?url';
import img4 from './4.png?url';
import img5 from './5.png?url';
import img6 from './6.png?url';
import img7 from './7.png?url';
import img8 from './8.png?url';
import img9 from './9.png?url';
import img10 from './10.png?url';
import img11 from './11.png?url';
import img12 from './12.png?url';
import img13 from './13.png?url';
import img14 from './14.png?url';
import img15 from './15.png?url';
import img16 from './16.png?url';
import img17 from './17.png?url';
import img18 from './18.png?url';
import img19 from './19.png?url';
import img20 from './20.png?url';
import img21 from './21.png?url';
import img22 from './22.png?url';
import img23 from './23.png?url';
import img24 from './24.png?url';
import img25 from './25.png?url';
import img26 from './26.png?url';
import screenshot1 from './screenshot-1.png?url';
import screenshot2 from './screenshot-2.png?url';
import screenshot3 from './screenshot-3.png?url';
import screenshot4 from './screenshot-4.png?url';
import screenshot5 from './screenshot-5.png?url';
import screenshot6 from './screenshot-6.png?url';

export const title = 'The new Google Slides templates are honestly funny';
export const date = '2024-11-08';

const images = [
  img0,
  img1,
  img2,
  img3,
  img4,
  img5,
  img6,
  img7,
  img8,
  img9,
  img10,
  img11,
  img12,
  img13,
  img14,
  img15,
  img16,
  img17,
  img18,
  img19,
  img20,
  img21,
  img22,
  img23,
  img24,
  img25,
  img26,
];
---

<BlogPost {date} {title} {bg}>
  <p>This month (November 2024) Google added "Templates" to Google Slides.</p>
  <div class="template-grid">
    {images.map((img) => <img src={img} alt="" />)}
  </div>
  <p>
    On the surface level, they look very good. But once you open one, you see the placeholder text,
    and you start wondering if it's satire. Here's what I mean.
  </p>
  <div class="column-list">
    <CaptionedImage
      src={screenshot1}
      alt={'Honestly perplexing: Every time there\'s a contact slide, the email is "no reply". That doesn\'t really make sense for a *contact* email...'}
    />
    <CaptionedImage
      src={screenshot3}
      alt={'Buzzword overload: This slide from "Sales Pitch"'}
      view="dark"
    />
    <CaptionedImage
      src={screenshot4}
      alt={'Confusing: "Educational games" has a hardcoded winner'}
      view="dark"
    />
  </div>
  <p>
    <strong>Surely satire</strong>: "Product overview minimal". Let's go over it.
  </p>
  <ul>
    <li>
      So we start with this company Cymbal. They make water bottles. Would you buy a water bottle
      from a company called Cymbal? I wouldn't but I guess some people might.
    </li>
    <li>
      It starts off relatively slow. "This is who we are", "these are our target consumers", etc.
    </li>
    <li>
      <p>
        But then they explain that they're not just any water bottle company, they're solving a
        problem made up of 3 elements. As you can see, we know the exact proportion of each element:
      </p>
      <img src={screenshot5} alt="" class="ss" />
    </li>
    <li>
      So then it explains their offering and how it's been growing, shows what it looks like and how
      it's been growing, and includes some testimonials. This is
      <em>mostly</em> normal. Oddly, they feature a 4 star review instead of a 5 star one.
    </li>
    <li>
      Then - no joke - they have a rewards program. How would a rewards program even work here?
    </li>
    <li>
      That's basically it. The rest is just the standard growth plan and contact information,
      including the signature no reply email address.
    </li>
  </ul>
  <p>
    <strong>Accidental?</strong>: "Event faciliation" is supposed to be like flipping through a
    book, but it's out of order
  </p>

  <h2>On a positive note</h2>
  <div class="column-list">
    <CaptionedImage
      src={screenshot2}
      alt={'Interesting: "Class overview" uses vectors to represent a raster.'}
    />
    <CaptionedImage
      src={screenshot6}
      alt={'Clever: "Course overview" uses Noto Emoji for monochrome icons.'}
      view="dark"
    />
  </div>
  <p>
    All templates use free fonts from Google Fonts. It goes to show that you can make something
    without losing money.
  </p>

  <h2>Other thoughts</h2>
  <p>
    Templates are really weird in that they look and work like themes, but they're separate from
    themes. Perhaps Google thought themes had a bad rep.
  </p>
</BlogPost>

<style>
  .template-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-block: 1rem;
  }
  .template-grid img {
    width: 100%;
    height: auto;
  }
  .column-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .ss {
    height: 12rem;
    width: auto;
  }
</style>
